/*Common css file where tailwind is imported */
@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  color: black;
  color:rgb(249, 244, 201);
  background-color: rgb(149, 149, 149);
}


